<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hericxon.reprohealth">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/repro_main_2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".home.MainMenu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity
            android:name=".user.UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".knowyourebody.YourBodyActivity"
            android:label="@string/title_activity_your_body"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".relationships.RelationshipActivity"
            android:label="@string/title_activity_relationship"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".familyplanning.FamilyPlanningActivity"
            android:label="@string/title_activity_family_planning"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".hivaidsandstds.HivAidsStdsActivity"
            android:label="@string/title_activity_hiv_aids_stds"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".healthcenters.ReproductiveCentersActivity"
            android:label="@string/title_activity_reproductive_centers"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".knowyourebody.SexVsGender"
            android:label="Sex Vs Gender"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".knowyourebody.GenderIdentity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Gender Identity"/>
        <activity
            android:name=".knowyourebody.Male"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Male body"/>
        <activity
            android:name=".knowyourebody.MaleOrgans"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Male Organs"/>
        <activity
            android:name=".knowyourebody.Semens"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Semens"/>
        <activity
            android:name=".knowyourebody.Sperms"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Sperms"/>
        <activity
            android:name=".knowyourebody.MaleHormones"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Male Hormones"/>
        <activity
            android:name=".knowyourebody.Puberty"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Puberty in Males"/>
        <activity
            android:name=".knowyourebody.Female"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Female Body"/>
        <activity
            android:name=".knowyourebody.Emotions"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Emotions"/>
        <activity
            android:name=".knowyourebody.AdolescenceChalleges"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Adolescence Challenges"/>
        <activity
            android:name=".knowyourebody.PsychologicalDevelopment"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Psychological Development"/>
        <activity
            android:name=".knowyourebody.Sexuality"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Sexuality"/>
        <activity
            android:name=".knowyourebody.Fertility"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Fertilty in Females"/>

        <activity android:name=".knowyourebody.FemalePuberty"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Puberty in Females"/>

        <activity android:name=".knowyourebody.FemaleOrgans"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Female Organs"/>

        <activity android:name=".knowyourebody.FemaleHormones"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Female Hormones"/>

        <activity android:name=".knowyourebody.Ovulation"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Ovulation"/>

        <activity android:name=".knowyourebody.Menstruation"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Menstruation"/>

        <activity android:name=".knowyourebody.MenstruationConcerns"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Menstruation Concerns"/>

        <activity android:name=".knowyourebody.MenstruationHygiene"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Menstruation hygiene"/>

        <activity android:name=".knowyourebody.MenstruationMyths"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="MenstruationMyths"/>

        <activity android:name=".relationships.RelaionshipDetails"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Relationship"/>

        <activity android:name=".relationships.RelationshipKey"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Relationship Keys"/>

        <activity android:name=".relationships.RelationshipParents"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Parental Relationship"/>

        <activity android:name=".relationships.RelationshipFriends"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Friendly relationship"/>

        <activity android:name=".relationships.RelationshipSpecial"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Special Relationships"/>

        <activity android:name=".relationships.RelationshipSigns"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Good Or bad relationship"/>

        <activity android:name=".familyplanning.Temporarymethods"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Temporary methods"/>

        <activity android:name=".familyplanning.Permanentmethods"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Permanent Methods"/>

        <activity android:name=".familyplanning.EmergencyMethods"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Emergency Methods"/>

        <activity android:name=".user.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".user.SignupActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".hivaidsandstds.HivMyth"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="HIV Myths"/>

        <activity android:name=".hivaidsandstds.HivAids"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="HIV/AIDS"/>

        <activity android:name=".hivaidsandstds.HivImmuneAttack"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="HIV Attack Strategy"/>

        <activity android:name=".hivaidsandstds.HivManagement"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Living With HIV"/>

        <activity android:name=".hivaidsandstds.HivPrevention"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="HIV Prevention"/>

        <activity android:name=".hivaidsandstds.HivRisks"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="HIV Risks"/>

        <activity android:name=".hivaidsandstds.HivSymptoms"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="HIV Symptoms"/>

        <activity android:name=".hivaidsandstds.HivTransmission"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="HIV Transmission"/>

        <activity android:name=".hivaidsandstds.HivTreatable"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="HIV Treatment"/>

        <activity android:name=".hivaidsandstds.StiStd"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="STIs/STDs"/>

        <activity android:name=".hivaidsandstds.StiStdMyth"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="STIs/STDs Myths"/>

        <activity android:name=".hivaidsandstds.StiStdTypes"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Types Of STIs/STDs"/>

        <activity android:name=".user.EditUser"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Edit Personal Info"/>

        <activity android:name=".SearchActivity"/>
    </application>

</manifest>